*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

        --bs: 0.25em 0.25em 0.75em rgba(0,0,0,.25),
          0.125em 0.125em 0.25em rgba(0,0,0,.15);
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    background: #f1f5f8;
    color: #222;
}

.templatelist{
    width: 90vw;
    max-width: 1170px;
    margin: 5rem auto;
    display: grid;
    gap: 2rem;
}

@media screen and (min-width: 768px){
    .templatelist{
        grid-template-columns: repeat(3, 1fr);
    }
}

.template{
    background: #ffffff;
    border-radius: 1rem;
    padding: 1rem 2rem;
}

.template h1{
    margin-top: 0.5rem;
}

.intro__img{
        box-shadow: var(--bs);
}